body {
  color: #fff;
}

main {
  background: linear-gradient(#ce2029, #d70040, #e30022);
  height: 130vh;
  width: 100%;
}

#hmu {
  color: #fff;
  font-family: poppins;
  font-size: 1.2rem;
}

#hmu:hover {
  transition: all 1s ease-out;
  background-color: #ffbf00;
  color: #000;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(80, 5, 10, 0.65);
  z-index: -1;
}

/* main {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
} */

#gaid {
  width: 100%;
  overflow: auto;
}

.divu {
  text-align: right;
}

.btn {
  background-color: #ffbf00;
}

.btn:hover {
  transition: all 1s ease-out;
  background: transparent;
  border: 2px solid #ffbf00;
}

.divu {
  padding: 20px 30px 0 0;
}

.printer {
  color: #ffbf00;
  text-decoration: none;
}

.printer:hover {
  transition: all 1s ease-out;
  text-decoration: none;
  background: #f4f4f4;
  color: #000;
}

#mytable td {
  font-family: poppins;
  font-size: 1.2rem;
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(60, 30, 12, 0.45);
}
.modalcontent {
  background-color: #f4f4f4;
  margin: 20% auto; /*moving up and down with percentage and side is auto*/
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopened;
  animation-duration: 1s;
}
.closeButton {
  float: right;
  color: #ccc;
  font-size: 30px;
}
.closeButton:hover,
.closeButton:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@keyframes modalopened {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#label {
  height: 5.5rem;
}
